* {
  border: 0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .logo-menu-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav .logo-menu-container .menu-container {
  overflow: hidden;
}
nav .logo-menu-container .menu-container .material-icons.md-dark {
  color: #d8d8d8;
  font-size: 48px;
  font-weight: 700;
}
nav .logo-menu-container .menu-container:hover .dropdown-content {
  display: block;
}
nav .logo-menu-container .menu-container .dropdown-content {
  background-color: #fff;
  display: none;
  overflow: hidden;
  position: absolute;
  width: auto;
  z-index: 1;
}
nav .logo-menu-container .menu-container .dropdown-content a {
  color: #555555;
  display: block;
  padding: 5px;
  text-decoration: none;
}
nav .logo-menu-container .mini-logo-container img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  padding-left: 10%;
  padding-top: 25%;
  width: 50px;
}
nav .search-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  padding-top: 10px;
  width: 500px;
}
nav .search-container .search-bar input {
  height: 30px;
  outline: 1px solid #d8d8d8;
  padding-left: 20px;
  width: 350px;
}
nav .search-container .search-dropdown select {
  background: #fff;
  height: 30px;
  outline: 1px solid #d8d8d8;
  text-align: center;
  width: 150px;
}
nav .sign-in-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav .sign-in-container span {
  color: #555555;
  padding-right: 15px;
}
nav .sign-in-container a {
  font-size: 13px;
}

footer {
  background-color: #fff;
  height: 40px;
}

body {
  background-color: #f2f2f2;
}

.category-panel-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bcbcbc;
  color: #fff;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: medium;
  font-weight: 700;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.category-panel-container .category-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.category-panel-container .category-container .category-image {
  background-color: #fff;
  height: 50px;
  width: 50px;
}
.category-panel-container .category-container .category-name {
  color: #bcbcbc;
  padding-top: 5px;
}

.category-body-container {
  padding-top: 20px;
}
.category-body-container .coupon-row-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}
.category-body-container .coupon-row-container .coupon-column-content {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-image {
  background-color: #d8d8d8;
  height: 150px;
  width: 150px;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content hr {
  border: none;
  border-top: 1px solid #d8d8d8;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row .coupon-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row .coupon-heart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row .brief-description {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row .expire-date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row .coupon-price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row .add-to-cart-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-body-container .coupon-row-container .coupon-column-content .coupon-container .coupon-content .coupon-row .add-to-cart-btn button {
  background-color: #fff;
  color: #555555;
  font-size: 10px;
  font-weight: 700;
  height: 10px;
  outline: 2px solid #d8d8d8;
  width: 80px;
}

#go-top-btn-content {
  bottom: 5%;
  color: #555555;
  cursor: pointer;
  display: none;
  font-size: 62px;
  opacity: 30%;
  position: fixed;
  right: 5%;
  z-index: 99;
}
#go-top-btn-content:hover {
  opacity: 100%;
}