@use "navbar";
@use "panelname";

body {
  background-color: #ffffff;
}

label {
  font-weight: bold;
  color: gray;
  margin-bottom: 10px;
  padding-top: 20px;
}


#company, #valid,
#price, #images, #item-name,
#short-descr, #long-descr,
.input-images {
  height: 35px;
  padding-left: 20px;
  outline: 1px solid #d8d8d8;
  width: 350px;
}

#long-descr, #short-descr {
  height: 115px;
}

#category {
  background: #ffffff;
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  outline: 1px solid #d8d8d8;
  padding-left: 20px;
}

#valid {
  font-weight: bold;
}


.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .left-input {
    display: flex;
    flex-direction: column;
    margin-right: 150px;

    .input-images {
      position: relative;

      span {
        position: absolute;
        right: 0;
        top: 5px;
      }

      input[type="file"] {
        cursor: pointer;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .right-input {
    display: flex;
    flex-direction: column;

    .form-buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 35px;

      .back-btn {
        background-color: white;
        color: #777777;
        font-weight: bold;
        height: 35px;
        outline: 2px solid #dbdbdb;
        width: 175px;
      }

      .submit-btn {
        background-color: #6fce96;
        color: white;
        font-weight: bold;
        height: 35px;
        width: 175px;
      }
    }
  }
}
