@use "navbar";
@use "panelname";
@use "variables";

body {
  background-color: #ffffff;
}

.body-container {
  display: flex;
  justify-content: center;

  .item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;

    .item-container-content {
      display: flex;

      img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        padding-left: 10%;
        padding-top: 25%;
        width: 100px;
      }
    }

    .item-text-container {
      display: flex;
      padding-left: 30px;
      position: relative;
      width: 100%;

      .item-title {
        font-weight: bold;
        position: absolute;
        top: 30%;
      }

      .item-short-descr {
        margin-top: 30px;
        position: absolute;
        top: 30%;
        width: 70%;
      }
    }

    .price-container {
      display: flex;
      width: auto;

      .price-content {
        font-weight: bold;
        position: relative;
        right: 10px;
        top: 45%;
      }
    }

    hr {
      border: none;
      border-top: 1px solid #{variables.$outline-color};
      display: flex;
      margin-left: 10px;
      margin-top: 10px;
      width: 100%;
    }

    .total-container {
      padding-top: 20px;

      .total-content {
        display: flex;
        justify-content: end;

        .total-text {
          font-weight: bold;
          position: relative;
          right: 50px;
        }

        .total-sum {
          font-weight: bold;
          padding-right: 2px;
          position: relative;
          right: 5px;
        }
      }
    }

    .button-container {
      display: flex;
      justify-content: end;
      padding-top: 30px;

      .button-content {
        position: relative;

        .back-btn {
          background-color: #{variables.$second-color};
          color: #{variables.$text-color};
          font-weight: bold;
          height: 25px;
          outline: 2px solid #{variables.$outline-color};
          width: 125px;
        }

        .checkout-btn {
          background-color: #{variables.$ok-btn-color};
          font-weight: bold;
          color: #{variables.$second-color};
          height: 25px;
          left: 15px;
          position: relative;
          width: 125px;
        }
      }
    }
  }
}
