@use 'navbar';
@use 'footer';
@use 'variables';

body {
  background-color: #{variables.$body-color};
}

.category-panel-container {
  align-items: center;
  background-color: #{variables.$category-panel-color};
  color: #{variables.$second-color};
  column-gap: 40px;
  flex-direction: row;
  font-size: medium;
  font-weight: 700;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%;

  .category-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;

    .category-image {
      background-color: #{variables.$second-color};
      height: 50px;
      width: 50px;
    }

    .category-name {
      color: #{variables.$text-color};
      padding-top: 5px;
    }
  }
}

.category-body-container {
  padding-top: 20px;

  .coupon-row-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .coupon-column-content {
      background-color: #{variables.$second-color};
      display: flex;
      flex-direction: column;

      .coupon-container {
        .coupon-image {
          background-color: #{variables.$outline-color};
          height: 150px;
          width: 150px;
        }

        .coupon-content {
          hr {
            border: none;
            border-top: 1px solid #{variables.$outline-color};
          }

          .coupon-row {
            padding-top: 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .coupon-name {
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: center
            }

            .coupon-heart {
              align-items: center;
              color: #{variables.$text-color};
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }

            .brief-description {
              align-items: center;
              display: flex;
              flex-direction: column;
              font-size: 8px;
              justify-content: center;
            }

            .expire-date {
              align-items: center;
              display: flex;
              flex-direction: column;
              font-size: 6px;
              justify-content: center;
            }

            .coupon-price {
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: center
            }

            .add-to-cart-btn {
              align-items: center;
              display: flex;
              flex-direction: column;
              height: 20px;
              justify-content: center;

              button {
                background-color: #{variables.$second-color};
                color: #{variables.$text-color};
                font-size: 10px;
                font-weight: 700;
                height: 10px;
                outline: 2px solid #{variables.$outline-color};
                width: 80px;
              }
            }
          }
        }
      }
    }
  }
}

  #go-top-btn-content {
    bottom: 5%;
    color: #{variables.$text-color};
    cursor: pointer;
    display: none;
    font-size: 62px;
    opacity: 30%;
    position: fixed;
    right: 5%;
    z-index: 99;

    &:hover {
      opacity: 100%;
    }
  }





