@use 'navbar';
@use 'footer';

body {
  background-color: #f2f2f2
}

.category-panel-container {
  align-items: center;
  background-color: #bcbcbc;
  color: #fff;
  column-gap: 40px;
  flex-direction: row;
  font-size: medium;
  font-weight: 700;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%;

  .category-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;

    .category-image {
      background-color: #fff;
      height: 50px;
      width: 50px;
    }

    .category-name {
      color: gray;
      padding-top: 5px;
    }
  }
}

.category-body-container {
  padding-top: 20px;

  .coupon-row-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .coupon-column-content {
      background-color: #fff;
      display: flex;
      flex-direction: column;

      .coupon-container {
        .coupon-image {
          background-color: #dfdfdf;
          height: 150px;
          width: 150px;
        }

        .coupon-content {
          .coupon-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .coupon-name {
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: center
            }

            .coupon-heart {
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: center
            }
          }

          .coupon-row {
            .brief-description {
              align-items: center;
              display: flex;
              flex-direction: column;
              font-size: 8px;
              justify-content: center;
            }

            .expire-date {
              align-items: center;
              display: flex;
              flex-direction: column;
              font-size: 6px;
              justify-content: center;
            }

            hr {
              border-top: 1px solid #000
            }
          }

          .coupon-row {
            .coupon-price {
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: center
            }

            .add-to-cart-btn {
              align-items: center;
              display: flex;
              flex-direction: column;
              height: 20px;
              justify-content: center;

              button {
                background-color: #fff;
                color: gray;
                font-size: 10px;
                font-weight: 700;
                height: 10px;
                outline: 2px solid #dbdbdb;
                width: 80px;
              }
            }
          }
        }
      }
    }
  }
}



