.category-panel {
  align-items: center;
  background-color: #bcbcbc;
  color: white;
  display: flex;
  font-size: medium;
  font-weight: bold;
  height: 50px;
  width: 100%;

  p {
    left: 50px;
    position: relative;
  }
}


