@use "navbar";
@use "panelname";

body {
  background-color: #f2f2f2;
}

.main-container {
  align-items: center;
  display: flex;
  height: 94vh;
  justify-content: center;

  .main-content {
    flex-direction: column;
    width: 800px;

    .outer-container {
      background: white;

      .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        .column {
          display: flex;
          flex-direction: column;
          padding-top: 15px;
          width: 46%;

          label {
            color: #555555;
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 5px;
          }

          input {
            height: 30px;
            outline: 1px solid #d8d8d8;
          }

          .button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 15px;
            padding-bottom: 15px;

            .cancel-btn {
              background-color: white;
              color: #777777;
              font-weight: bold;
              height: 25px;
              outline: 2px solid #dbdbdb;
              width: 46%;
            }
          }

          .sign-up-btn {
            background-color: #6fce96;
            color: white;
            font-weight: bold;
            height: 25px;
            padding-right: 15px;
            position: relative;
            width: 46%;
          }
        }
      }
    }
  }
}





